*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  padding: 30px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url(./images/background4.jpeg);
  background-repeat: no-repeat;
  flex-direction: column;
  background-size: cover;
}
.score{
  padding-bottom: 20px;
}

.game {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  // background: rgba(76, 175, 80, 0.3);
  background-color: rgba(12, 54, 134, 0.5); 
  color: rgba(12, 54, 134, 0.5);
  padding-top: 5px;
  border-radius: 5px;
}

.game img{
  width: 74px;
  height: 74px;
}

@media screen and (max-width: 900px) {
  .app{
    background-image:url(./images/background.jpeg);
    min-height: 100vh;
  }
  .game{
  width: 340px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  }
  .game img{
    width: 41px;
    height: 45px;
  }
}

footer{
  text-align: center;
}